global-reset()

@import('./vendor/skeleton');

#color-me
  min-height 100rem
  height 100%
  width 100%
  background hsla(240, 5%, 34%, 1) 
  
#words
  width 60%
  padding 8rem
  color hsla(164, 100%, 49%, 1)