global-reset()

@import('./vendor/skeleton');

#color-me
  min-height 100rem
  height 100%
  width 100%
  background hsla(255, 2%, 76%, 1)
  
#words
  width 60%
  padding 8rem
  color hsla(255, 22%, 12%, 1)
  line-height 1.5rem